apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: node-mongo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: aksnodemongoclusteracrzvep30.azurecr.io/node-mongo-frontend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: node-mongo-app
spec:
  type: LoadBalancer
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80          # Puerto público que se expondrá
      targetPort: 80    # Puerto del contenedor (Nginx)